[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
hydra-core = "*"

[packages]
high-order-layers-torch = {editable = true, git = "git://github.com/jloveric/high-order-layers-torch"}
torch = "*"
torchvision = "*"
pytorch-lightning = "*"

[requires]
python_version = "3.8"
